<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ferronix"
        tools:targetApi="31">

        <!-- Главное меню -->
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Выбор формы -->
        <activity
            android:name=".SelectForm"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Калькуляторы для квадратных профилей -->
        <activity
            android:name=".SquareCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".SquareCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Калькуляторы для круглых профилей -->
        <activity
            android:name=".CircleCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".CircleCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Калькуляторы для круглых труб -->
        <activity
            android:name=".CirclePipeCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".CirclePipeCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Калькуляторы для профильных труб -->
        <activity
            android:name=".ProfilePipeCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".ProfilePipeCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Меню листа -->
        <activity
            android:name=".ListMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Кастомный лист -->
        <activity
            android:name=".ListCustom"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Калькуляторы для уголков -->
        <activity
            android:name=".CornerCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".CornerCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Меню двутавра -->
        <activity
            android:name=".DvutavrMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- двутавр -->
        <activity
            android:name=".DvutavrCustomCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".DvutavrCustomCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>



        <!-- Меню швеллера -->
        <activity
            android:name=".ShvellerMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- швеллер -->
        <activity
            android:name=".ShvellerCustomCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".ShvellerCustomCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>


        <!-- шестигранник -->
        <activity
            android:name=".ShestigrannikCalculateLength"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".ShestigrannikCalculateWeight"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

    </application>
</manifest>