<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Для Android 9 и ниже -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Для Android 10+ (если нужно записывать в Downloads) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ferronix"
        tools:targetApi="31">

        <!-- Главное меню -->
        <activity
            android:name="Control.MainMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Выбор формы -->
        <activity
            android:name=".Sortament.SelectForm"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Калькуляторы для квадратных профилей -->
        <activity
            android:name=".Sortament.SquareProfileCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>


        <!-- Калькуляторы для круглых профилей -->
        <activity
            android:name=".Sortament.CircleCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>


        <!-- круглые труб -->

        <activity
            android:name=".Sortament.CirclePipeCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!--Профильная труба -->
        <activity
            android:name=".Sortament.ProfilePipeCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Меню листа -->
        <activity
            android:name=".Sortament.ListMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Кастомный лист -->
        <activity
            android:name=".Sortament.ListCustom"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Уголок -->

        <activity
            android:name=".Sortament.CornerCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Меню двутавра -->
        <activity
            android:name=".Sortament.DvutavrMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- двутавр -->
        <activity
            android:name=".Sortament.DvutavrCustomCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>




        <!-- Меню швеллера -->
        <activity
            android:name=".Sortament.ShvellerMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- швеллер -->
        <activity
            android:name=".Sortament.ShvellerCustomCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <!-- Швеллер ГОСТ 8240-97  -->
        <activity
            android:name=".Sortament.ShvellerGost8240_97"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>



        <!-- Шестигранник -->
        <activity
            android:name=".Sortament.ShestigrannikCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Лист ГОСТ 24045-94 -->
        <activity
            android:name=".Sortament.ListGost24045_94"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Лист ГОСТ 8568-77 с чечевичным рифлением -->
        <activity
            android:name=".Sortament.ListGost8568_77_chechevich"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Лист ГОСТ 8568-77 с ромбическим рифлением -->
        <activity
            android:name=".Sortament.ListGost8568_77_romb"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>




        <!-- Двутавр ГОСТ 57837-2017 -->
        <activity
            android:name=".Sortament.DvutavrGost57837_2017"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Двутавр ГОСТ 8239-89 -->
        <activity
            android:name=".Sortament.DvutavrGost8239_89"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Двутавр ГОСТ 26020-83 -->
        <activity
            android:name=".Sortament.DvutavrGost26020_83"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!--  ГОСТ 26020-83 pdf -->
        <activity
            android:name=".Sortament.gostPdf.Gost26020_83_pdf"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!--  ГОСТ 57837-2017 pdf -->
        <activity
            android:name=".Sortament.gostPdf.Gost57837_2017_pdf"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!--  ГОСТ 24045-94 pdf -->
        <activity
            android:name=".Sortament.gostPdf.Gost24045_94_pdf"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- ГОСТ 8568-77 pdf-->
        <activity
            android:name=".Sortament.gostPdf.Gost8568_77_pdf"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- ГОСТ 8239-89 pdf-->
        <activity
            android:name=".Sortament.gostPdf.Gost8239_89_pdf"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- ГОСТ 8240-97 pdf-->
        <activity
            android:name=".Sortament.gostPdf.Gost8240_97_pdf"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Список Гостов-->
        <activity
            android:name="Control.GostsList"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>


        <!-- Меню расчета балки-->
        <activity
            android:name="Beams.BeamMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Расчет профильной балки-->
        <activity
            android:name="Beams.ProfileBeam"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Меню профилей-->
        <activity
            android:name=".Sortament.ProfileMenu"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Расчет прямоугольного профиля-->
        <activity
            android:name=".Sortament.PryamougolniyProfileCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- Расчет арматуры-->
        <activity
            android:name=".Sortament.ArmaturaCalculate"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>

        <!-- ГОСТ 34028_2016-->
        <activity
            android:name=".Sortament.gostPdf.Gost34028_2016"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </activity>




    </application>
</manifest>